@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --green: #3ece93;
  --red: #ff461d;
  --gray-dark: #4f4f4f;
  --gray-light: #7b7b7b;
  --white: #ffffff;
  --bg-color: #f4f6fc;

  /* screen size - Tablet upword */
  --tablet: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
